section {
  line-height: 1.6;
}

span {
  background: #A0F5F3;
  margin-left: -0.25rem;
  padding-left: 0.25rem;
  margin-right: -0.1875rem;
  padding-right: 0.25rem;
}

.l-1, .l-2 {
  background: #FDF6C3;
}

.l-3, .l-4 {
  background: #FAC9F6;
}

.l-5 {
  background: #FDB8B1;
}

.l-6, .l-7, .l-8, .l-9, .l-10, .l-11 {
  background: #C1F3C0;
}
